// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

//Color palette
$turquoise : #08ffc8;
$light-grey : #fff7f7;
$dark-grey : #dadada;
$navy-blue : #204969;

$burgundy: #7A0F1A;
$pink: #FFD3E3;
$dark-green: #014026;
