<div class="main-container" id="top">
  <%= render :partial => 'cocktails/navbar' %>
  <div class="background-cover">
    <div class="cover-container">
        <div class="panel-01">
        </div>
        <div class="panel-02">
          <h1 class="headline">
          Welcome to your online repertoire for classic and custom 
          <span class="highlight">cocktail recipes</span> from all over the world!
          </h1>
          <%= image_tag "blob_green02.png", alt: "blob" %>
        </div>
    </div>
  </div>
</div>