<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "Freepour Cocktails", root_path, class: "nav-link" %>
  <div class="navbar" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to root_path do %>
          <%= image_tag "cocktail_icon_main.png", width: "30", class: "icon-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
