<div class="share-container">
  <%# <div class="banner-image2">
  </div> %>

  <div class="share-grids" id="share">
    <div class="panel-05">
      <div class="share-title">
        <h1>Share your recipe!</h1>
      </div>
      <%= image_tag "blob_green02.png", alt: "blob", width: "100px", class: "blob-share-green" %>
      <%= image_tag "blob_pink.png", alt: "blob", width: "240px", class: "blob-share-pink" %>
      <%= image_tag "blob_pink02.png", alt: "blob", width: "200px", class: "blob-share-pink2" %>
    </div>
    <div class="panel-06">
      <%= render :partial => "cocktails/form" %>
    </div>
  </div>
</div>