<div class="what-anchor" id="what">
</div>
<div class="what-container">
  <div class="what-grids">
    <div class="panel-03">
      <div class="what-title">
        <h1>What is this about?</h1>
      </div>
      <%= image_tag "blob_green03.png", alt: "blob", class: "blob-what-green" %>
      <%= image_tag "blob_pink03.png", alt: "blob", class: "blob-what-pink" %>
    </div>
    <div class="panel-04">
      <p>
      What is this web site all about? How did you get here?
      Maybe subconsciously you were thirsty for a drink!

      <br><br>

      Free Pour Cocktail is place where you can find
      the perfect recipe for the drink you're looking for.
      It can be as simple as a classic Daiquiri or discover
      someone else's creation! What ever mood you're in, you'll find something to match it here. 
      But since this is a school project don't take some of the recipes too seriously, it might not make sense! 

      <br><br>

      Enjoy and drink responsibly. Cheers!
      </p>
    </div>
  </div>

  <div class="banner-image">
  </div>
</div>