.share-container {
  padding: 58px 0 116px 0;
  width: 100%;
}

// .banner-image2 {
//   background: image-url('break_banner2.jpg') no-repeat center center fixed;
//   background-size: cover;
//   width: 100%;
//   height: 520px;
// }

.share-grids {
  display: grid;
  grid-template-columns: 33% 66%;
  width: 100%;
  height: 580px;
  position: relative;

  .blob-share-green {
    position: absolute;
    top: 448px;
    left: 76px;
    z-index: -3;
  }

  .blob-share-pink {
    position: absolute;
    top: 320px;
    left: 116px;
    z-index: -4;
  }

  .blob-share-pink2 {
    position: absolute;
    top: 544px;
    left: 1310px;
    z-index: 0;
  }
}

.share-title {
  display: block;
  float: right;
  width: 400px;
  text-align: right;
}

.panel-05 {
  margin: 88px 0 88px 0;
  padding-right: 48px;

  & h1 {
      line-height: 1;
  }
}

.panel-06 {
  margin: 88px 0 88px 0;
  padding-left: 48px;
}