.show-content {
  height: 100%;
}

.show-cocktail {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 750px;
  height: 100%;
}

.cocktail-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #014026, #586137, #9d815f, #d7a69d, #ffd3e3);
  color: white;
  padding: 88px 0 88px 0;

  h2 {
    margin: 48px;
  }
}

.show-infos {
  position: relative;
  margin: 36px;

  .subtile {
    display: flex;
    justify-content: space-between;
  }

  .cocktail-subtile {
      font-family: "Chivo", "sans-serif";
      font-size: 14px;
  }
}

.back-link {
  position: absolute;
  bottom: -18px;
  left: 0;
}