.show-content {
  height: 100%;

  
  // border-top: black solid 2px;
}

.show-cocktail {
  display: grid;
  grid-template-columns: 50% 50%;
  // border: green solid 3px;
  min-height: 750px;
  height: 100%;
  
}

.cocktail-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-green;
  color: white;
  padding: 88px 0 88px 0;
  // margin: 88px 0 88px 0;

  h2 {
    margin: 48px;
  }
}

.cocktail-infos {
  margin: 36px;

  .subtile {
    display: flex;
    justify-content: space-between;
  }

  .cocktail-subtile {
      font-family: "Chivo", "sans-serif";
      font-size: 14px;
  }

  .ingredient {

  }
}

.show-footer {
  height: 500px;
  background-color: white;
}