@media only screen and (max-width: 600px) {
  .main-container {
   width: 100%;
  }
  //navbar
  .main-bar {
    display: none;
  }

  .navbar-collapse {
    text-align: center;

    img {
      padding-top: 24px;
      width: 180px;
    }
  }

  .navbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0 24px 0;
  }

  //landing-page
  .background-cover {
    background: image-url('banner.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: auto;
    overflow-x: hidden;
  }
  
  .cover-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    position: relative;
  }

  .panel-01 {
    display: none;
  }

  .panel-02 {
    position: none;
    width: 100%;
    font-weight: bold;
    font-size: 36px;
    color: white;
  
    & img {
      display: none;
    }

    & h1 {      
      position: absolute;
      top: 100px;
      left: 50px;
      text-align: center;

      width: 220px;
      font-weight: bold;
      font-size: 28px;
      color: white;
      background-color: $dark-green;
      border-radius: 50%;
      z-index: 1;
      }
  }

  //what-page
  .what-grids {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    width: 300px;
    height: 100%;
    position: relative;
    
    .blob-what-green {
      top: 40px;
      left: 276px;
      width: 150px;
    }
  
    .blob-what-pink {
      top: 160px;
      left: 250px;
      width: 80px;
    }
  }
  
  .panel-03 {
    width: 300px;
    margin: 0;
    padding: 36px 36px 0 36px;
    text-align: left;
    border: none;
    
    .what-title {
      float: none;
      margin: 0px;
      width: 180px;
    }

    & h1 {
      line-height: 1;
      font-size: 64px;
    }
  }

  .panel-04 {
    margin: 0 0 36px 36px;
    padding: 0;
    display: flex;
    align-items: center;
    width: 270px;
  }

  .banner-image {
    background: image-url('break_banner.jpg') no-repeat center center scroll;
    background-size: cover;
    width: 100%;
    height: 250px;
  }

  //share-page
  .share-container {
    padding: 0;
    width: 500px;
  }

  .share-grids {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 66%;
    width: 500px;
    height: 100%;
    position: relative;
  
    .blob-share-green {
      position: absolute;
      top: 208px;
      left: 226px;
      z-index: -3;
    }
  
    .blob-share-pink {
      position: absolute;
      top: 80px;
      left: 146px;
      z-index: -4;
    }
  
    .blob-share-pink2 {
      display: none;
    }
  }

  .share-title {
    display: block;
    float: none;
    width: 180px;
    text-align: left;
  }
  
  .panel-05 {
    margin: 36px 0 36px 36px;
    padding: 0;
  
    & h1 {
      line-height: 1;
      font-size: 64px;
    }
  }
  
  .panel-06 {
    margin: 36px 0 36px 36px;
    padding-left: 0px;
  }
  
  .form-container {
    display: grid;
    grid-template-columns: 220px 25%;
  }
  
  .error-msg {
    width: 50px;
  }

  li {
    font-size: 10px !important;
  }

  //who-page
  .who-container {
    background-color: $dark-green;
    margin-bottom: 44px;
  
    & p {
      color: white;
      font-size: 16px;
    }
  
    & h1 {
        line-height: 1;
        color: white;
    }
  }
  
  .who-grids {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 900px;
    position: relative;
  
    .blob-who-white {
      position: absolute;
      top: 150px;
      left: 440px;
      width: 100px;
      z-index: 1;
    }
  }
  
  .who-title {
    display: flex;
    float: none;
    width: 160px;
  }
  
  .panel-07 {
    border: none;
    margin: 0;
    padding: 36px 0 0 36px;
    text-align: left;

    h1 {
      text-align: left;
      font-size: 64px;
    }
  }
  
  .panel-08 {
    margin: 0;
    padding: 0 36px 36px 36px;
    display: flex;
    align-items: flex-start;
    height: 100%;
  
    & #icon {
      color: $pink;
      font-size: 28px;
      letter-spacing: 2px;
    }
  }

  //back-top
  .top-link {
    bottom: -64px;
    right: -64px;
  }

  //cocktails 
  .cocktail-title {
    h1 {
      font-size: 72px;
    }
  }
  
  .cocktail-list {
    display: block;
  }

  .cocktail-cards {  
    &::after {
      content: "";
      flex: none;
    }
  }

  //show-page
  .show-content {
    height: 100%;
  }
  
  .show-cocktail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    min-height: 1000px;
    max-height: 1300px;
    height: 100%;
  }

  .show-infos {
    position: relative;
    margin: 36px;
  
    h1 {
      font-size: 64px;
    }

    .subtile {
      display: flex;
      justify-content: space-between;
    }
  
    .cocktail-subtile {
        font-family: "Chivo", "sans-serif";
        font-size: 14px;
    }
  }

  .back-link {
    display: none;
  }
}
