@media only screen and (max-width: 600px) {
  .main-container {
   width: 100%;
  }
  //navbar
  .main-bar {
    display: none;
  }

  .navbar-collapse {
    text-align: center;

    img {
      padding-top: 24px;
      width: 180px;
    }
  }

  .navbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0 24px 0;
  }

  //landing-page
  .cover-container {
    height: 90%;
  }

  .panel-01 {
    display: none;
  }

  .panel-02 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;

    font-weight: bold;
    font-size: 36px;
    color: white;
  
    & img {
      display: none;
    }

    & h1 {      
      position: absolute;
      top: 80px;
      text-align: center;

      width: 320px;
      font-weight: bold;
      font-size: 32px;
      color: white;
      background-color: $dark-green;
      z-index: 1;
      }
  }

  //what-page
  .what-grids {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    position: relative;
    
    .blob-what-green {
      top: 40px;
      left: 276px;
      width: 150px;
    }
  
    .blob-what-pink {
      top: 160px;
      left: 250px;
      width: 80px;
    }
  }
  
  .panel-03 {
    width: 100%;
    margin: 0;
    padding: 36px;
    text-align: left;
    border: none;
    
    .what-title {
      float: none;
      margin: 0px;
    }

    & h1 {
      line-height: 1;
      font-size: 88px;
    }
  }

  .panel-04 {
    margin: 36px;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .banner-image {
    height: 250px;
  }

  //share-page
  .share-container {
    padding: 0;
    width: 500px;
  }

  .share-grids {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 66%;
    width: 500px;
    height: 100%;
    position: relative;
  
    .blob-share-green {
      position: absolute;
      top: 208px;
      left: 306px;
      z-index: -3;
    }
  
    .blob-share-pink {
      position: absolute;
      top: 80px;
      left: 346px;
      z-index: -4;
    }
  
    .blob-share-pink2 {
      position: absolute;
      top: 544px;
      left: 1310px;
      z-index: 0;
    }
  }

  .share-title {
    display: block;
    float: none;
    width: 400px;
    text-align: left;
  }
  
  .panel-05 {
    margin: 36px 0 36px 36px;
    padding: 0;
  
    & h1 {
      line-height: 1;
      font-size: 88px;
    }
  }
  
  .panel-06 {
    margin: 36px 0 0 36px;
    padding-left: 0px;
  }
  
  //who-page
  .who-container {
    background-color: $dark-green;
    margin-bottom: 44px;
  
    & p {
      color: white;
      font-size: 16px;
    }
  
    & h1 {
        line-height: 1;
        color: white;
    }
  }
  
  .who-grids {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    width: 100%;
    height: 580px;
    position: relative;
  
    .blob-who-white {
      position: absolute;
      top: 150px;
      left: 440px;
      width: 100px;
      z-index: 1;
    }
  }
  
  .who-title {
    display: flex;
    float: none;
    width: 400px;
  }
  
  .panel-07 {
    border: none;
    margin: 0;
    padding: 36px 0 0 36px;
    text-align: left;

    h1 {
      text-align: left;
      font-size: 60px;
    }
  }
  
  .panel-08 {
    margin: 0;
    padding: 0 36px 36px 36px;
    display: flex;
    align-items: flex-start;
    height: 100%;
  
    & #icon {
      color: $pink;
      font-size: 28px;
      letter-spacing: 2px;
    }
  }
}
