.main-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $light-grey;
  padding: 0 144px 0 144px;

  & a {
    color: black;
    font-family: "Chivo";
    font-size: 12px;
  }

  & a:hover {
    text-decoration: underline;
  }
}