.navbar-lewagon {
  justify-content: space-between;
  background: $dark-grey;
  border-top: 8px solid $turquoise;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
