// Graphical variables
@import "config/fonts";
@import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $light-grey;
  margin: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-size: 92px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-family: "PT serif", "serif";
  font-size: 21px;
  margin: 0 0 10px 0;
}

p {
  font-size: 14px;
  font-family: "Chivo", "sans-serif";
}

a {
  text-decoration: none;
  color: $burgundy;
  font-family: "Chivo", "sans-serif";
  font-size: 12px;
  
  &:hover {
    text-decoration: underline;
  }
}

.stars {
  font-size: 18px;
  margin: 0;
  letter-spacing: 1px;
  color: $burgundy;
}

#top {
  font-size: 40px;
  color: white;
}

.hidden {
  display: none;
}

.footer {
  font-size: 10px;
  text-align: right;

  & p {
    margin: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-family: "Chivo", "sans-serif";
  font-size: 14px;
  color: red;
}

@media only screen and (max-width: 600px) {
  //navbar
  .main-bar {
    display: none;
  }

  .navbar-collapse {
    text-align: center;

    img {
      padding-top: 24px;
      width: 180px;
    }
  }

  .navbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0 24px 0;
  }

  //landing-page
  // .panel-02 h1 {
  //   position: absolute;
  //   width: 220px;
  //   top: 140px;
  //   left: 32px;
  //   font-weight: bold;
  //   font-size: 24px;
  //   color: white;
  //   z-index: 2;
  
  // }

  .cover-container {
    height: 90%;
  }

  .panel-01 {
    display: none;
  }

  .panel-02 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;

    font-weight: bold;
    font-size: 36px;
    color: white;
  
    & img {
      display: none;
    }

    & h1 {      
      position: absolute;
      top: 80px;
      text-align: center;

      width: 320px;
      font-weight: bold;
      font-size: 32px;
      color: white;
      background-color: $dark-green;
      z-index: 1;
      }
  }
}