// Graphical variables
@import "config/fonts";
@import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $light-grey;
  margin: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-size: 92px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-family: "PT serif", "serif";
  font-size: 21px;
  margin: 0 0 10px 0;
}

p {
  font-size: 14px;
  font-family: "Chivo", "sans-serif";
}

a {
  text-decoration: none;
  color: $burgundy;
  font-family: "Chivo", "sans-serif";
  font-size: 12px;
  
  &:hover {
    text-decoration: underline;
  }
}

.stars {
  font-size: 18px;
  margin: 0;
  letter-spacing: 1px;
  color: $burgundy;
}

#top {
  font-size: 40px;
  color: white;
}

.hidden {
  display: none;
}

.footer {
  font-size: 10px;
  text-align: right;

  & p {
    margin: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-family: "Chivo", "sans-serif";
  font-size: 14px;
  color: red;
}

