// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background-cover {
  position: relative;
  background: image-url('banner.jpg');
  background-size: cover;
  width: 100%;
  height: 700px;
  padding: 0;
  margin: auto;
  overflow-x: hidden;
}

.main-bar {
  text-align: center;
  background-color: white;
}

.cover-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.panel-01 {
}

.panel-02 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.panel-02 h1 {
  position: absolute;
  width: 440px;
  top: 250px;
  left: 96px;

  & p {
    font-size: 16px;
  }
}

.highlight {
  color: $burgundy;
  background-color: white;
}

.text-break {
  width: 100%;
  height: 580px;
}

.banner-image {
  background: image-url('break_banner.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 250px;
}



.container {
  margin-bottom: 72px;
}

.cocktail-list {
  padding-top: 80px;
}

.menu-icon {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

// #title-bar {
//   height: 48px;
//   background-color: #08ffc8;
//   font-size: 16px;
//   font-weight: normal;

//   p {
//     margin: 6px auto;
//   }
// }

// h4 {
//   font-family: "Montserrat", sans-serif;
// }

.nav-link {
  font-weight: bold;
}

.icon-link:hover {
  transform: scale(1.3) rotate(20deg);
}
